<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chair.chairdada.mapper.UserFriendMapper">

    <resultMap id="BaseResultMap" type="com.chair.chairdada.model.dto.userFriends.UserFriendDto">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="friendId" column="friend_id" jdbcType="BIGINT"/>
        <result property="userAccount" column="userAccount" jdbcType="BIGINT"/>
        <result property="friendAvatar" column="friendAvatar" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="applyMsg" column="apply_msg" jdbcType="VARCHAR"/>
        <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
        <result property="agreeTime" column="agree_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,
        userId,createTime,updateTime
    </sql>

    <select id="getFriendList" resultMap="BaseResultMap">
        select uf.*,u.userAvatar as friendAvatar,u.userName as userName,u.userAccount as userAccount
        from user_friend uf
                 left join user u on uf.friend_id = u.id
        where user_id =  #{userId} and status = 1
        union
        select uf.*,u.userAvatar as friendAvatar,u.userName as userName,u.userAccount as userAccount
        from user_friend uf
                 left join user u on uf.friend_id = u.id
        where friend_id =  #{userId} and status = 1
    </select>

    <select id="getNotFriendList" resultMap="BaseResultMap">
        select uf.*,u.userAvatar as friendAvatar,u.userName as userName,u.userAccount as userAccount
        from user_friend uf
                 left join user u on uf.friend_id = u.id
        where user_id =  #{userId}
        union
        select uf.*,u.userAvatar as friendAvatar,u.userName as userName,u.userAccount as userAccount
        from user_friend uf
                 left join user u on uf.friend_id = u.id
        where friend_id =  #{userId}
    </select>
</mapper>
